@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

}

header {
    background-color: rgba(255, 235, 205, 0.575);
    padding: 50px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

ul>li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

li>a {
    text-decoration: none;
    color: black;
}

/* banner */

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 40px auto;
}

.banner-title {
    font-size: 64px;
    margin: 0;
    font-weight: 600;
}

.primary-button {
    text-align: center;
    background-color: #FF900E;
    border: none;
    padding: 20px 10px;
    width: 180px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 30px auto;
}

.banner-image {

    max-height: 700px;
}